@mixin Footer 
{
    width: 100%;
    background-color: rgb(41, 41, 41);
    padding: 1.7em 2em;

    h4
    {
        color: white;
        padding-bottom: 10px;
        font-size: 20px;
        font-family: $shrikhand;
    }

    .container-links
    {
        ul
        {
            list-style-type: none;

            li
            {
                padding: 2px 0;  

                a 
                {
                    text-decoration: none;
                    color: white;
                    font-family: $roboto;

                    i
                    {
                        &.i1
                        {
                            margin-right: 12px;
                            font-size: 12px;
                        }

                        &.i2
                        {
                            margin-right: 10px;
                            font-size: 10px;
                        }
                    }

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            } 

        }
    }
}

@mixin BTN 
{
    display: inline-block;
    margin: 20px 0;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border-radius: 999px;
    box-shadow: $shadowSEC;
    background-image: linear-gradient(to bottom, $secondaire, $primaire);
    transition: transform 300ms, box-shadow 300ms;
    &:hover
    {
        transform: scale(1.07);
        box-shadow: 6px 6px 15px rgba($color: #000000, $alpha: .40);
    }
}

@mixin Coeur($size) 
{
    min-width: 30px;
    height: 30px;

    .boite-coeur
    {
        width: 100%;
        height: 100%;
        position: relative;
        
        i
        {
            position: absolute;
            font-size: $size;
            cursor: pointer;    
            background-clip: text;
            -webkit-background-clip: text;
            transition: all 1s;
        }
        .fas2
        {
            opacity: 0;
        }
        &:hover .fas1
        {
            opacity: 0;
        }
        &:hover .fas2
        {
            opacity: 1;
        }
        i:hover
        {
            background-image: linear-gradient(to right, #9356DC, #FF79DA);
            color: transparent;
        }
    }  
}