*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width {
  max-width: 1400px;
  margin: auto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  position: relative;
  z-index: 1;
}
header .logo {
  width: 100%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
header .lienRetour {
  position: absolute;
  top: 25px;
  left: 35px;
  z-index: 10;
}
header .lienRetour a {
  color: black;
  font-size: 22px;
}
header img.bg-menu {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

main {
  flex: 1 0 auto;
  position: relative;
  z-index: 20;
  margin-top: -50px;
  padding: 1.5em;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 1300px) {
  main {
    max-width: 1300px;
    margin: -50px auto 0;
  }
}
main .titre-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-size: 13px;
}
main .titre-main .container-like {
  min-width: 30px;
  height: 30px;
}
main .titre-main .container-like .boite-coeur {
  width: 100%;
  height: 100%;
  position: relative;
}
main .titre-main .container-like .boite-coeur i {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 600ms cubic-bezier(0, 1.03, 1, 1.44);
}
main .titre-main .container-like .boite-coeur .fas2 {
  opacity: 0;
}
main .titre-main .container-like .boite-coeur:hover i {
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  color: transparent;
}
main .titre-main .container-like .boite-coeur:hover .fas1 {
  opacity: 0;
}
main .titre-main .container-like .boite-coeur:hover .fas2 {
  opacity: 1;
}

section {
  font-family: "Roboto", sans-serif;
}
section .container-grid {
  display: grid;
  grid-template-columns: minmax(350px, 700px);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  gap: 20px;
}
section .container-grid .c-grid1 {
  grid-row: 1;
}
section .container-grid .c-grid2 {
  grid-row: 2;
}
section .container-grid .c-grid3 {
  grid-row: 3;
}
@media screen and (min-width: 900px) {
  section .container-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 650px));
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "entre plat" "dessert dessert";
  }
  section .container-grid .c-grid1 {
    grid-area: entre;
  }
  section .container-grid .c-grid2 {
    grid-area: plat;
  }
  section .container-grid .c-grid3 {
    grid-area: dessert;
  }
}
section h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
}
section h2::before {
  content: "";
  width: 40px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  bottom: -5px;
}
section .btn-com {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
section .btn-com a.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  border-radius: 999px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  transition: transform 300ms, box-shadow 300ms, opacity 300ms;
  opacity: 0.8;
  padding: 15px 40px;
}
section .btn-com a.btn:hover {
  transform: scale(1.07);
  opacity: 1;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
}

.container-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-flex .container-boite {
  display: flex;
}
.container-flex .boite {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  animation: FadeIn 500ms ease-in-out;
}
.container-flex .boite:hover .icon {
  width: 65px;
}
.container-flex .boite:hover .icon i.fas {
  transform: rotate(-360deg);
}
.container-flex .text {
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 2;
}
.container-flex .text h3 {
  width: 80%;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container-flex .text p {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container-flex .prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.container-flex .icon {
  transition: width 300ms;
  width: 0px;
  overflow: hidden;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-flex .icon i.fas {
  transition: transform 300ms;
  font-size: 20px;
  color: white;
}

footer {
  width: 100%;
  background-color: #292929;
  padding: 1.7em 2em;
}
footer h4 {
  color: white;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
}
footer .container-links ul {
  list-style-type: none;
}
footer .container-links ul li {
  padding: 2px 0;
}
footer .container-links ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
footer .container-links ul li a i.i1 {
  margin-right: 12px;
  font-size: 12px;
}
footer .container-links ul li a i.i2 {
  margin-right: 10px;
  font-size: 10px;
}
footer .container-links ul li a:hover {
  text-decoration: underline;
}

/* ---- Animation Cloche ---- */
@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
.container-flex .anima2 {
  animation-duration: 600ms;
}

.container-flex .anima3 {
  animation-duration: 900ms;
}

.container-flex .anima4 {
  animation-duration: 1.2s;
}

.container-flex .anima5 {
  animation-duration: 1.5s;
}

.container-flex .anima6 {
  animation-duration: 1.8s;
}

.container-flex .anima7 {
  animation-duration: 2s;
}

.container-flex .anima8 {
  animation-duration: 2.2s;
}

.container-flex .anima9 {
  animation-duration: 2.4s;
}

/*# sourceMappingURL=style-menu.css.map */
