@import '_variable.scss';
@import '_mixins.scss';
@import '_reset.scss';

.max-width
{
    max-width: 1400px;
    margin: auto;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header
{
    width: 100%;
    position: relative;
    z-index: 1;

    .logo
    {
        width: 100%;
        padding: 20px;
        text-align: center;
        box-shadow: $shadowSEC;
    }

    .lienRetour
    {
        position: absolute;
        top: 25px;
        left: 35px;
        z-index: 10;

        a
        {
            color: black;
            font-size: 22px;
        }
    }

    img.bg-menu
    {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

main
{
    flex: 1 0 auto;
    position: relative;
    z-index: 20;
    margin-top: -50px;
    padding: 1.5em;
    background-color: rgb(243, 243, 243);
    border-radius: 30px 30px 0 0;

    @media screen and (min-width: 1300px)
    {
        max-width: 1300px;
        margin: -50px auto 0;
    }

    .titre-main
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $shrikhand;
        font-size: 13px;

        .container-like
        {
            @include Coeur(30px);
        }
    }
}

section
{
    font-family: $roboto;

    .container-grid
    {
        display: grid;
        grid-template-columns: minmax(350px, 700px);
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        gap: 20px;

        .c-grid1{grid-row: 1;}        
        .c-grid2{grid-row: 2;}
        .c-grid3{grid-row: 3;}    
        
        @media screen and (min-width: 900px)
        {
            display: grid;
            grid-template-columns: repeat(2, minmax(300px, 650px));
            grid-template-rows: repeat(2, auto);
            grid-template-areas:"entre plat"
                                "dessert dessert";
                
            .c-grid1{grid-area: entre;}
            .c-grid2{grid-area: plat;}
            .c-grid3{ grid-area: dessert;}
        }
    }

    h2
    {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
        position: relative;

        &::before
        {
            content: '';
            width: 40px;
            height: 3px;
            background: $tritaire;
            position: absolute;
            bottom: -5px;
        }
    }

    .btn-com
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;

        a.btn
        {
            @include BTN;
            padding: 15px 40px;
        }
    }
}


.container-flex
{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container-boite
    {
        display: flex;
    }

    .boite
    {   
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        box-shadow: $shadowDIV;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        animation: FadeIn 500ms ease-in-out;

        &:hover
        {
            .icon
            {
                width: 65px;
                
                i.fas
                {
                    transform: rotate(-360deg);
                }
            }
        }
    }

    .text
    {
        padding: 10px 0 10px 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 2;

        h3
        {
            width: 80%;
            padding-bottom: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p
        {
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .prix
    {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
    }

    .icon
    {
        transition: width 300ms;
        width: 0px;
        overflow: hidden;
        background-color: $tritaire;
        display: flex;
        justify-content: center;
        align-items: center;

        i.fas
        {
            transition: transform 300ms; 
            font-size: 20px; 
            color: white;
        }
    }
}

footer
{
    @include Footer;
}

/* ---- Animation Cloche ---- */
@keyframes FadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(20px);
    }

    to
    {
        opacity: 1;
    }
}

.container-flex .anima2{animation-duration: 600ms;}
.container-flex .anima3{animation-duration: 900ms;}
.container-flex .anima4{animation-duration: 1.2s;}
.container-flex .anima5{animation-duration: 1.5s;}
.container-flex .anima6{animation-duration: 1.8s;}
.container-flex .anima7{animation-duration: 2s;}
.container-flex .anima8{animation-duration: 2.2s;}
.container-flex .anima9{animation-duration: 2.4s;}